<%- include("header") -%>

<h2 class="box" id="heading">Hey This is a bit about me</h2>
<p class="box"> This is a placeholder where we will prob put GitHub, LinkedIn, etc.</p>

<%- include("footer") -%>